// 設定頁面與物件邊界為0 ( 沒有空白 ) ，設定水平置中 : 物件與物件邊界為0 ( 沒有空白 )
// 管理所有物件 最大階層
/*
    網頁使用的單位
    寬度  高度  行距  文字  物件的距離 ( 外間距與內間距 ) ，只要能計算的值，都有單位
    基礎單位  像素 ( px )
    響應式網頁的單位 百分比 ( % ) vw與vh ( 裝置可視寬度與高度，新單位 )

    1.百分比 ( % ) 的缺點，高度無法顯示
    2.vw與vh 的缺點，舊瀏覽器 ( ie ) 不支援 ; mac瀏覽器 ( s )，因為手機版需要扣除瀏覽器自帶的功能按鈕 ( 在畫面下方 )

    行距  文字，百分比的單位 em ( 子物件的設定值會疊加父物件的設定值 ) 和rem ( 不受父物件設定值影響 )
*/
* {
    // 頁面與物件邊界，設定水平置中
    // 4個值為 : 上 右 下 左  ; 2個值為 : 上下 左右
    margin: 0 auto;
    // 物件與物件邊界
    padding: 0;
    // 隱藏項目符號
    list-style-type: none;
}
// 圖片等比設定
img {
    // 寬度 100% 高度 自動
    width: 100%;
    height: auto;
}

.Clear {
    clear: both;
}

// 變數區
$W10: 100%;
$Tpx: 16px;// 設定文字尺寸的基礎值 單位 16px ( 固定值 )
$Trem: 1rem;// 設定文字尺寸的基礎值 單位 1rem ( 百分比 )
$Em: 1em; 

$NW: $W10; // 導覽列的寬
$NH: 65px; // 

// 輪播圖
$BHsmall: 280px; // 超小與小裝置

// 計算寬度，分為 10 等份,
$W1:$W10 / 10 *1; // 寬度 1 等份
$W2:$W10 / 10 *2; // 寬度 2 等份
$W3:$W10 / 10 *3; // 寬度 3 等份
$W4:$W10 / 10 *4; // 寬度 4 等份
$W5:$W10 / 10 *5; // 寬度 5 等份
$W6:$W10 / 10 *6; // 寬度 6 等份
$W7:$W10 / 10 *7; // 寬度 7 等份
$W8:$W10 / 10 *8; // 寬度 8 等份
$W9:$W10 / 10 *9; // 寬度 9 等份

// 繼承區 無法直接撰寫在共用區呼叫 ; 也無法與 mixin 混合函式共用
%Dn {
    // 不顯示
    display: none;
}

// mixin 混合函式
@mixin DN {
    display: none;
}
@mixin ON {
    // 顯示方式 : 區塊
    display: block;
}

// 背景圖片替代文字
@mixin BgText($Bs) {
    // 將文字移至裝置之外
    text-indent: -99999px;
     // 背景圖片對齊
     background-position: center;
     // 背景圖片取消重複顯示
     background-repeat: no-repeat;
     // 背景圖片尺寸 auto自動 cover ( 背景圖片小於容器時，放大圖片製容器的大小並填滿 ; 背景圖片大於容器時，縮小圖片至容器的大小並填滿 ; 缺點，容器的長寬比例與背景圖片的長寬比例不合時，會出現背景圖片失真 ) contain ( 背景圖片大於容器時，縮小至容器內呈現，會留邊界 )
     background-size: $Bs;
}