// 設定頁面與物件邊界為0 ( 沒有空白 ) ，設定水平置中 : 物件與物件邊界為0 ( 沒有空白 )
// 管理所有物件 最大階層
* {
    // 頁面與物件邊界，設定水平置中
    // 4個值為 : 上 右 下 左  ; 2個值為 : 上下 左右
    margin: 0 auto;
    // 物件與物件邊界
    padding: 0;
    // 隱藏項目符號
    list-style-type: none;
}
// 圖片等比設定
img {
    // 寬度 100% 高度 自動
    width: 100%;
    height: auto;
}

// 變數區
$W10: 100%;
$Tpx: 16px;// 設定文字尺寸的基礎值 單位 16px ( 固定值 )
$Trem: 1rem;// 設定文字尺寸的基礎值 單位 1rem ( 百分比 )

$NW: $W10; // 導覽列的寬
$NH: 65px; // 導覽列的高

// 計算寬度，分為 10 等份,
$W1:$W10 / 10 *1; // 寬度 1 等份
$W2:$W10 / 10 *2; // 寬度 2 等份
$W3:$W10 / 10 *3; // 寬度 3 等份
$W4:$W10 / 10 *4; // 寬度 4 等份
$W5:$W10 / 10 *5; // 寬度 5 等份
$W6:$W10 / 10 *6; // 寬度 6 等份
$W7:$W10 / 10 *7; // 寬度 7 等份
$W8:$W10 / 10 *8; // 寬度 8 等份
$W9:$W10 / 10 *9; // 寬度 9 等份

1