// scss 巢狀語法 : 呼叫元素選擇器 (標籤選擇器)
// 轉譯後為 後代選擇器 header nav #Portfolio { ... }
// scss 繼承
// scss 變數 要計算的值或者常變動的值 $

// 繼承區
%Dn {
    // 不顯示
    display: none;
}
%Subnav {
    // 寬度 與 文字顏色 尾頁次選單
    width: 50%;
    color: white;
}

header {
    nav {
        // 設定 nav專用 ( 區域 ) 變數
        $NH: 70px;
        // 屬於 nav 寬度 %  ; 高度 px ; 背景色 ( 暫 )
        width: $NW;
        height: $NH;
        background-color: rosybrown;

        // 指向清單物件 li
        li {
            // 將 Logo 與 選單 設定為 垂直排列 ( 一列 ) float
            // float ( 浮點對齊 ) 缺點，會自動往上一階層 ( 新圖層 )，所以，父框架 ( 外框架 )，若沒有設定高度，系統將無視存在
            // 解決方式一 : 父框架 ( 外框架 ) 設定高度 : 解決方式一 ; 解決方式二 : 清除 clear
            float: left;
            
        }
        // 商標
        #Logo {
            // 寬度 8.5 等份
            width: $W1 * 8 + 5%;
            // 文字尺寸，內縮，水平置中
            font-size: $Trem *2;
            // 內縮 : 方法1，首行縮排 ( 單行文字 )
            text-indent: 30px;
            // 文字水平置中，行距設定 ( 父框架的高度 = 行距的數值 ) line-height: 80* 0.15 + px;
            // 方法1 父框架有高度時，父框架的高度 = 行距的數值 ; 方法2 文字尺寸的倍數 + 3
            // line-height: $Trem * ( 2 + 3 );
            background-color: rgb(100, 93, 83);
        }
        // 選單
        #Menu {
            // 寬度 1.5 等份
            width: $W1 + 5%;
            // height: 100%;
            // 文字水平 ( 行距 ) 、 垂直 ( 文字對齊 -- 置中 ) 置中
            text-align: center;
            line-height: $NH;
            // 將文字移至裝置之外
            text-indent: -99999px;
            // 背景圖片連結
            background-image: url(../../imagse/icon/000001.svg);
            // 背景圖片對齊
            background-position: center;
            // 背景圖片取消重複顯示
            background-repeat: no-repeat;
            // 背景圖片尺寸 auto自動 cover ( 背景圖片小於容器時，放大圖片製容器的大小並填滿 ; 背景圖片大於容器時，縮小圖片至容器的大小並填滿 ; 缺點，容器的長寬比例與背景圖片的長寬比例不合時，會出現背景圖片失真 ) contain ( 背景圖片大於容器時，縮小至容器內呈現，會留邊界 )
            background-size: contain;
        }
        .Clear {
            clear: both;
        }

        // 導覽列 : 只顯示 Logo 和 Menu，其餘不顯示
        // css3集合語法，將共同的樣式一同編輯
        #Portfolio, #About, #Project, #Contact {
            @extend %Dn;
        }
    }
}

footer {
    nav {
        #Graphic {
            @extend %Subnav;
            background-color: yellowgreen;
        }
        #Web {
            @extend %Subnav;
            background-color: steelblue;
        }
        #Audio {
            @extend %Subnav;
            background-color: sienna;
        }
    }
}