// scss 巢狀語法 : 呼叫元素選擇器 (標籤選擇器)
// 轉譯後為 後代選擇器 header nav #Portfolio { ... }
// scss 繼承
// scss 變數 要計算的值或者常變動的值 $

header {
	nav {
		// 屬於 nav 寬度 %  ; 高度 px ; 背景色 ( 暫 )
		width: $NW;
		// 設定 手機版的導覽列 63行，定位點與階層語法，被 nav 的高度設定給抵消，所以才隱藏 nav 的高度
		// height: $NH;
		background-color: rosybrown;

		// 指向清單物件 li
		li {
			// 將 Logo 與 選單 設定為 垂直排列 ( 一列 ) float
			// float ( 浮點對齊 ) 缺點，會自動往上一階層 ( 新圖層 )，所以，父框架 ( 外框架 )，若沒有設定高度，系統將無視存在
			// 解決方式一 : 父框架 ( 外框架 ) 設定高度 : 解決方式一 ; 解決方式二 : 清除 clear
			float: left;
		}
		// 商標
		#Logo {
			// 寬度 8 等份
			width: $W1 * 8;
			// 文字尺寸，內縮，水平置中
			font-size: $Tpx * 2;
			// 內縮 : 方法1，首行縮排 ( 單行文字 )
			// text-indent: 30px;
			// 文字水平置中，行距設定 ( 父框架的高度 = 行距的數值 ) line-height: 80* 0.15 + px;
			// 方法1 父框架有高度時，父框架的高度 = 行距的數值 ; 方法2 文字尺寸的倍數 + 3
			// 5rem = 80px
			line-height: $NH;
			background-color: rgb(100, 93, 83);
			// 對齊方式 置中
			text-align: center;
		}
		// 選單
		#Menu {
			// 寬度 1 等份
			width: $W1;
			// height: 100%;
			// 文字水平 ( 行距 ) 、 垂直 ( 文字對齊 -- 置中 ) 置中
			text-align: center;
			line-height: $NH;
			@include BgText(contain);
			// 背景圖片連結
			background-image: url(../../images/icon/000001.svg);
		}

		// 導覽列 : 只顯示 Logo 和 Menu，其餘不顯示
		// css3集合語法，將共同的樣式一同編輯
		#Portfolio,
		#About,
		#Project,
		#Contact {
			// @extend %Dn;
			// 呼叫 @mixin
			@include DN;
		}
	}

	// 手機板的導覽列
	#MobileNav {
		width: $W1 * 10;
		// 高度單位 vh (裝置可視高度)
		height: 100vh;
		// 定位點 絕對定位 設定階層
		position: absolute;
		z-index: 10;
		display: none;
		background-color: rgb(180, 86, 110);
	}

	// 輪播圖片 超小與小裝置 100% X 280px ( 圖片以大尺寸 1920 x600 為基礎計算 )
	// vw ( 以裝置的寬度為寬度 ) vh ( 以裝置高度為高度 )
	#BannerBox {
		width: $W10;
		// 因為，架高度會由圖片帶出，所以不用設定高度
		// 超出範圍設定
		overflow-x: auto;
		background-color: aquamarine;
		.ImgBox {
			// 圖片框的寬度尺寸
			width: $W10 * 5;
			.SmallImg {
				width: 100vw;
				float: left;
			}
			// .Box1 {
			// 	background-color: burlywood;
			// }
			// .Box2 {
			// 	background-color: chocolate;
			// }
			// .Box3 {
			// 	background-color: blueviolet;
			// }
			// .Box4 {
			// 	background-color: cornflowerblue;
			// }
			// .Box5 {
			// 	background-color: crimson;
			// }
		}
	}
}

footer {
	.HRLine {
		// 上邊界與下邊界，讓 main 與 footer 有點區隔
		margin: {
			top: 15px;
			bottom: 15px;
		}
	}
	nav {
		width: $W1 * 8;
		// 彈性佈局 設定方式 : 設定在要排列物件的父框架
		display: flex;
	}
	// 彈性佈局 order 重新設定排列順序
	#Graphic {
		order: 3;
	}
	.LeftLine {
		order: 2;
	}
	#Web {
		order: 1;
	}
	.RightLine {
		order: 4;
	}
	#Audio {
		order: 5;
	}

	address {
		width: $W1 * 5;
		// 彈性佈局
		display: flex;
		// 上邊界 nav 與 address 的距離
		margin: {
			top: 10px;
			bottom: 20px;
		}

		.Line {
			width: $W1 * 2;
			height: 30px;
			@include BG(icon, "000002.svg", contain);
		}
	}

	h6 {
		// 文字置中
		text-align: center;
		// 文字尺寸
		font-size: $Trem * 0.8;
		// 文字粗細
		font-weight: 200;
		background-color: coral;
	}
}

#main {
	#ContactBox {
		background-color: coral;

		// 標題
		#ContactTitle {
			// 外間距 margin ; 上間距無法將物件與父框架，顯示設定的距離，故改用 內間距 padding 設定
			padding: {
				top: 15px;
				bottom: 15px;
			}
		}

		form {
			// 寬度 左右留白
			width: $W1 * 9;
			// 繼承 單獨為表單使用
			%PI {
				padding: {
					top: 10px;
					bottom: 10px;
				}
			}

			// 姓名
			#NameBox {
				@extend %PI;
			}

			// 子元素選擇器
			> div {
				@extend %PI;
			}

			.E_mail2 {
				@include DN;
			}
		}
	}
}
