header {
	nav {
		// 屬於 nav 寬度 %  ; 高度 px ; 背景色 ( 暫 )
		width: $NW;
		// height: $NH;
		background-color: rosybrown;

		// 顯示方式 : 彈性布局 要排列物的父框架
		display: flex;

		// 呼叫 導覽列內按鈕的寬度設定
		@include LargeNav(6, 4);

		// 商標
		#Logo {
			// 水平置中
			text-align: center;
			// 文字尺寸 rem
			font-size: $Trem * 2;
			// 清除小裝置設定 首行縮排
			text-indent: 0;
			background-color: white;
		}

		// 按鈕共用值 li
		li {
			// 文字對齊 水平 垂直 置中
			text-align: center;
			// 文字尺寸
			font-size: $Trem * 1.3;
			// 行距
			line-height: $Trem * (2+ 2.3);
		}

		#Portfolio,
		#About,
		#Project,
		#Contact {
			// 小裝置為關閉，需再次開啟才可以看到資料
			@include ON;
		}

		// 選單
		#Menu {
			@include DN;
		}
	}

	// 輪播圖片 超小與小裝置 100% X 280px ( 圖片以大尺寸 1920 x600 為基礎計算 )
	// vw ( 以裝置的寬度為寬度 ) vh ( 以裝置高度為高度 )
	#BannerBox {
		width: $W10;
		// 內間距當成高度使用 vh
		padding-bottom: 40vh;
		// 超出範圍設定，能滑動X軸，讓圖片在框架中左右滑動
		overflow-x: auto;
		background-color: aquamarine;
		ul {
			// 圖片框的寬度尺寸
			width: $W10 * 5;
			li {
				width: 100vw;
				float: left;
			}
			// .Box1 {
			// 	background-color: burlywood;
			// }
			// .Box2 {
			// 	background-color: chocolate;
			// }
			// .Box3 {
			// 	background-color: blueviolet;
			// }
			// .Box4 {
			// 	background-color: cornflowerblue;
			// }
			// .Box5 {
			// 	background-color: crimson;
			// }
		}
	}
}

#main {
	article {
		width: $W10;
		height: 400px;
		// 框線 線段粗細 線段樣式 線段顏色
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: tomato;
	}
}

footer {
	nav {
	}
}
