@charset "UTF-8";
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id (標籤自訂名稱-英文、數字和底線「_」；唯一) ；class (重複，共用樣式) */
* {
margin: 0 auto;
padding: 0;
list-style-type: none;
}

@media screen and (max-width: 576px;) {
  header nav #Portfolio, header nav #About, header nav #Project, header nav #Contact {
   display: none;
}

}