@charset "UTF-8";
/* 樣式 */
/* 對應 HTML5相同標籤或者呼叫 id (標籤自訂名稱-英文、數字和底線「_」；唯一) ；class (重複，共用樣式) */
/*
    網頁使用的單位
    寬度  高度  行距  文字  物件的距離 ( 外間距與內間距 ) ，只要能計算的值，都有單位
    基礎單位  像素 ( px )
    響應式網頁的單位 百分比 ( % ) vw與vh ( 裝置可視寬度與高度，新單位 )

    1.百分比 ( % ) 的缺點，高度無法顯示
    2.vw與vh 的缺點，舊瀏覽器 ( ie ) 不支援 ; mac瀏覽器 ( s )，因為手機版需要扣除瀏覽器自帶的功能按鈕 ( 在畫面下方 )

    行距  文字，百分比的單位 em ( 子物件的設定值會疊加父物件的設定值 ) 和rem ( 不受父物件設定值影響 )
*/
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-family: "cwTeXYen", sans-serif, "微軟正黑體";
}

img {
  width: 100%;
  height: auto;
}

.Clear {
  clear: both;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  color: cadetblue;
  font-weight: 650;
}

@media screen and (max-width: 576px) {
  #Top {
    display: none;
  }
  header nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 80vw;
    font-size: 32px;
    line-height: 65px;
    background-color: #645d53;
    text-align: center;
  }
  header nav #Menu {
    width: 10vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icon/000001.svg);
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #MobileNav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    display: none;
    background-color: #b4566e;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: aquamarine;
    margin-top: 65px;
  }
  header #BannerBox > .Arrow {
    width: 100%;
    position: absolute;
    z-index: 5;
    font-size: 1.8rem;
    text-align: center;
    line-height: 80px;
    top: 33.85417%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header #BannerBox > .Arrow > .arrow {
    width: 6%;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  header #BannerBox > .Arrow > .Larrow {
    margin-left: 10px;
  }
  header #BannerBox > .Arrow > .Rarrow {
    margin-right: 10px;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #Graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #Web {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #Audio {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
    background-image: url(../../images/icon/000002.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: coral;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/w_gu014.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main #ContactBox form {
    width: 80vw;
  }
  #main #ContactBox form #NameBox, #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    padding-left: 10px;
    color: brown;
    font-weight: 500;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"], #main #ContactBox form > .FormBtn > input[type="reset"] {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.3rem;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1.2rem;
  }
  #main #ContactBox form > .FormBtn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #9c0b28;
  }
  #main #ContactBox form > .FormBtn > input[type="reset"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #0159be;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  #Top {
    display: none;
  }
  header nav {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: white;
  }
  header nav li {
    float: left;
  }
  header nav #Logo {
    width: 90vw;
    font-size: 32px;
    text-indent: 30px;
    line-height: 65px;
  }
  header nav #Menu {
    width: 10vw;
    text-align: center;
    line-height: 65px;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../images/icon/000001.svg);
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #MobileNav {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #b4566e;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: aquamarine;
    margin-top: 65px;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 70vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #Graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #Web {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #Audio {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
    background-image: url(../../images/icon/000002.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: coral;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/w_gu014.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main #ContactBox form {
    width: 65vw;
  }
  #main #ContactBox form #NameBox, #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    padding-left: 10px;
    color: brown;
    font-weight: 500;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"], #main #ContactBox form > .FormBtn > input[type="reset"] {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.3rem;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1.2rem;
  }
  #main #ContactBox form > .FormBtn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #9c0b28;
  }
  #main #ContactBox form > .FormBtn > input[type="reset"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #0159be;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  header nav #Logo {
    text-align: center;
    text-indent: 0;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: aquamarine;
  }
}

@media screen and (min-width: 992px) {
  #Top {
    display: block;
    position: absolute;
    z-index: 20;
    width: 60px;
    height: 60px;
    background-color: wheat;
    position: fixed;
    bottom: 50px;
    right: 0;
  }
  header nav {
    width: 100vw;
    background-color: rosybrown;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
  }
  header nav #Logo {
    width: 30vw;
  }
  header nav li {
    width: 17.5vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 2rem;
    text-indent: 0;
    background-color: white;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 4.3rem;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: aquamarine;
    margin-top: 0;
  }
  footer .HRLine {
    margin-bottom: 15px;
  }
  footer nav {
    width: 40vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer #Graphic {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .LeftLine {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer #Web {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .RightLine {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer #Audio {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer address {
    width: 25vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  footer address .Line {
    width: 20vw;
    height: 30px;
    background-image: url(../../images/icon/000002.svg);
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  footer h6 {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    background-color: coral;
  }
  #main article {
    height: 1650px;
  }
  #main #ContactBox {
    background-image: url(../../images/bg/w_gu014.gif);
  }
  #main #ContactBox #ContactTitle {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #main #ContactBox form {
    width: 53vw;
  }
  #main #ContactBox form #NameBox, #main #ContactBox form > div {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 5px;
  }
  #main #ContactBox form > #NameBox > label, #main #ContactBox form > .Mail > label, #main #ContactBox form > .Ques > p, #main #ContactBox form > .TextArea > li {
    margin-bottom: 10px;
  }
  #main #ContactBox form > #NameBox > input, #main #ContactBox form > .Mail > input {
    width: 100%;
    height: 30px;
    font-size: 1.1rem;
    padding-left: 10px;
    color: brown;
    font-weight: 500;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"], #main #ContactBox form > .FormBtn > input[type="reset"] {
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 15px;
  }
  #main #ContactBox form > div {
    font-size: 1.3rem;
  }
  #main #ContactBox form > #NameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > #NameBox > label {
    width: 100%;
  }
  #main #ContactBox form > .Mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Mail > label {
    width: 100%;
  }
  #main #ContactBox form > .Ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main #ContactBox form > .Ques > p {
    width: 100%;
  }
  #main #ContactBox form > .Ques > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #main #ContactBox form > .TextArea > li {
    width: 100%;
  }
  #main #ContactBox form > .TextArea > textarea {
    width: 100%;
    font-size: 1.2rem;
  }
  #main #ContactBox form > .FormBtn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
  }
  #main #ContactBox form > .FormBtn > input[type="submit"] {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: #9c0b28;
  }
  #main #ContactBox form > .FormBtn > input[type="reset"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-color: #0159be;
  }
  #main #ContactBox form .E_mail2 {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  header nav {
    width: 100vw;
    background-color: #55944f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #Logo {
    width: 25vw;
  }
  header nav li {
    width: 18.75vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 2.5rem;
    text-indent: 0;
    background-color: #d2ff96;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 4.8rem;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
  header #BannerBox {
    width: 100vw;
    overflow-x: auto;
    background-color: aquamarine;
  }
  header #BannerBox .ImgBox {
    width: 500vw;
  }
  header #BannerBox .ImgBox .SmallImg {
    width: 100vw;
    float: left;
  }
  #main > #ContactBox > form {
    width: 45%;
  }
}

@media screen and (min-width: 1400px) {
  header nav {
    width: 100vw;
    background-color: #55944f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav #Logo {
    width: 25vw;
  }
  header nav li {
    width: 18.75vw;
  }
  header nav #Logo {
    text-align: center;
    font-size: 2.5rem;
    text-indent: 0;
    background-color: #96eaff;
  }
  header nav li {
    text-align: center;
    font-size: 1.3rem;
    line-height: 4.5rem;
  }
  header nav #Portfolio,
  header nav #About,
  header nav #Project,
  header nav #Contact {
    display: block;
  }
  header nav #Menu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */